<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="allProjects">
    <h1>PROJECTS</h1>
    <p class="button"><%= link_to 'New Collaboration', new_chat_room_path, class: 'btn btn-primary' %></p>

    <% @chat_rooms.each do |chat_room| %>
    <ul class="chatInfo">
      <div class="chatName">
        <%= link_to "#{chat_room.title}", edit_chat_room_path(chat_room) %>
      </div>
      <% if chat_room.messages.all.last %>
        <p class="workUpdated">Last updated at <%= chat_room.messages.all.last.created_at.strftime("%F") %></p>
      <% else %>
        <p>Be the first to contribute to this!</p>
        <% end %>
    </ul>
    <% end %>

    </div>
  </body>
</html>
