.allProjects {
  margin-top: 2em;
  background-color: #f8eddb;
  padding: 2em;
  border-radius: 1em;
  h1 {
    color: #6e5f5a;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
  }
  .button {
    text-align: center;
  }
  .workUpdated {
    color: #6e5f5a;
  }
  .chatInfo {
    background-color: #F8F5F2;
    padding: 1em;
  }
  .chatName {
    font-size: 1.5em;
  }
}
