.googleHangoutsLink {

    a {
      background-color: #8e7161;
      border: none;
      padding: 15px 32px;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
    }

    a:hover {
      color: black;
      background-color: #fdebc7;
    }
  }
